[submodule "frontend"]
	path = frontend
	url = git@bitbucket.org:uday-alone/frontend.git
[submodule "balancer"]
	path = balancer
	url = git@bitbucket.org:uday-alone/balancer.git
[submodule "backend"]
	path = backend
	url = git@bitbucket.org:uday-alone/backend.git
